body, body #root{
  margin: 0;
  padding: 0;
  background-color: #121212;
  color:white;
  text-align: center;
}

#view{
  margin: 0;
  padding: 0;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form, .signup_form {
  width: 330px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.login_form button, .signup_form button {
  width: 100%;
}

.login_link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-left: 16px;
}

.login_link a{
  text-decoration: none;
  color: white;
}

.Dashboard{
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard .msgbox{
  background-color: rgb(73, 73, 73);
  color: rgb(255, 255, 255);
  height: 200px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Dashboard button {
  padding: 10px 0px 10px 0px;
  background-color: #3f51b5;
  color: white;
  font-weight: 700;
  font-size: x-large;
  border:none;
  cursor: pointer; 
}
